
.centered_logo{
    height:92px;
    width:272px;
    padding-top: 109px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}
.search-bar{
    margin: auto;
    width: 80%;
    padding: 10px;
    margin-bottom:20px;

    
 }
 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  

  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .right{
      float:right;
  }
  .left{
      float:left;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
  }

.bottom{
    position: fixed;
    bottom: 30px;
    width: 100%;
}
.inner {
    width: 50%;
    margin: 0 auto;
  }
center{
    display: block;
    text-align: -webkit-center;
}
.search{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
}